@charset "UTF-8";
@font-face {
    font-family:'love' ;
    src: url('love.ttf') format('truetype');
    font-weight: normal;
    font-size: normal;
}
/* tipos de format
   opentype(otf)
   truetype(ttf)
   embedded opentype
   truetype-aat (apple advanced typography)*/
*
   p{text-align: justify;}
     
   body{
       background-attachment: fixed;
       background-image: linear-gradient(to bottom,#a4e4f8,#0c6da5);
       font-family: Arial, Helvetica, sans-serif;
       font-size: 1em;
   }
   main{
       background-color: white;
       width: 750px; 
       margin: auto;
       padding: 20px;
       border-radius: 10px; 
       box-shadow: 5px 5px 10px #6d605579;  
       }
    h1,h2{font-family: 'Love', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2em;    color: #0F5183; text-align: center; font-weight: normal;}    